<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> <!-- don't move anywhere-->
<script src="{{ url_for('static', filename='scripts.js') }}"></script>

{% extends "layout.html" %}

{% block body %}
<div id="app">
    <h1>CQP/Tree</h1>
    <form action="{{ url_for('main')}}" method="post">
        <div id="language" class="form_item">
            Language: 
            <input type="radio" id="grew" name="language" value="grew" checked>
            <label for="grew">grew</label>
        
            <input type="radio" id="deptreepy" name="language" value="deptreepy">
            <label for="deptreepy">deptreepy</label>
        </div>
        <div id="tree_query" class="form_item">
            <label for="query_str">Tree query:</label>
            <div class="text_input"> 
                <input name="query_str" type="text" id="query_str" class="code" size=80>
                <button type="submit">Translate to CQP</button>
            </div>
    </div>
    </form>
    <div id="results">
        CQP query:
        <div class="text_input"> 
            <input type="text" id="cqp_query" class="code" size=80 value="{{ cqp }}" readonly>
            <button onclick="copyCQP()">📋</button>
            <a href="https://spraakbanken.gu.se/korp/#?corpus=attasidor,da,svt-2004,svt-2005,svt-2006,svt-2007,svt-2008,svt-2009,svt-2010,svt-2011,svt-2012,svt-2013,svt-2014,svt-2015,svt-2016,svt-2017,svt-2018,svt-2019,svt-2020,svt-2021,svt-2022,svt-2023,svt-nodate&search_tab=2&search=cqp%7C{{ cqp_urlenc }}">run in Korp</a>
        </div>
    </div>
</div>
{% endblock %}